modules = ["java-graalvm22.3"]
run = "flutter run"

[nix]
channel = "stable-24_05"
packages = ["flutter316"]

[deployment]
run = ["sh", "-c", "flutter run"]

[workflows]
runButton = "Flutter Run"

[[workflows.workflow]]
name = "Flutter Run"
author = 45228374
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter clean"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter pub get"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run --debug"
